
__pycache__/
*.py[cod]
*$py.class

# Local environment/IDE config
.vscode/
.idea/
generate_final_docs.py
extract_guidelines.py
generate_project.py
extracted_template.txt
extracted_guideline_pdf.txt


*.docx
*.pptx
*.pdf


~$*
*~


Site_*_storage.csv
